section.section#sec-3.sec-3(data-title='Sec 3')
	.container
		.block-title
			h1.text-white ĐẶC QUYỀN HẠNG NHẤT
		.items.flex.flex-col(class="md:flex-row")
			.items-img 
				a(href="") 
					img.lazyload(data-src="./img/i-1.png" alt="")
			.items-content
				.items-content_title 
					h2 Từ HOÀN TIỀN đến HOÀN MỸ
				.items-content_desc 
					p Mua sắm toàn cầu định vị phong thái, 
						br
						|nhận hoàn tiền đến 9.600.000 đồng/năm.
				a(href="#" title="title" data-fancybox data-src='#dialogHoanTien') Xem thêm 
					img.lazyload(data-src="./img/icons/right.svg" alt="")
		.items.flex
			.items-content
				.items-content_title 
					h2 ĐẶC QUYỀN THƯỢNG LƯU
				.items-content_desc 
					p Sống đời đúng điệu với những dịch vụ 
						br
						|giải trí và đặc quyền hạng sang.
				a(href="#" title="title" data-fancybox data-src='#dialogDacQuyen') Xem thêm 
					img.lazyload(data-src="./img/icons/right.svg" alt="")
			.items-img
				a(href="") 
					img.lazyload(data-src="./img/i-2.png" alt="")

