section.section#sec-6.sec-6(data-title='Sec 6')
	.sec-swiper
		.swiper.mySwiper
			.swiper-wrapper
				.swiper-slide 
					.swiper-inner 
						.swiper-inner_img 
							img.show.show-desktop.lazyload(data-src="./img/banner/banner-slide.jpg" alt="")
							img.show.show-mobile.lazyload(data-src="./img/banner/banner-slide-mb.jpg" alt="")
						.swiper-inner_content 
							.img
								img.lazyload(data-src="./img/banner/content-slide-2.png" alt="")
				.swiper-slide 
					.swiper-inner 
						.swiper-inner_img 
							img.show.show-desktop.lazyload(data-src="./img/banner/banner-slide-1.jpg" alt="")
							img.show.show-mobile.lazyload(data-src="./img/banner/banner-slide-mb-1.jpg" alt="")
						.swiper-inner_content
							.img
								img.lazyload(data-src="./img/banner/content-slide.png" alt="")

		.swiper-pagination
