section.section#sec-4.sec-4(data-title='Sec 4')
	.container
		.items.flex
			.items-img 
				a(href="") 
					img.lazyload(data-src="./img/i-3.png" alt="")
			.items-content
				.items-content_title 
					h2 TRẢI NGHIỆM HẠNH PHÚC
				.items-content_desc 
					p Tận hưởng trọn vẹn từng chuyến đi 
						br
						|với gói quyền lợi đến 12 tỷ đồng.
				a(href="#" title="title" data-fancybox data-src='#dialogTraiNghiem') Xem thêm 
					img.lazyload(data-src="./img/icons/right.svg" alt="")
		.list-icon.grid.gap-10.grid-cols-12
			.list-icon-item.col-span-6(class='md:col-span-6 lg:col-span-6 xl:col-span-3')
				.list-icon-item_img.mb-6
					a(href="") 
						img.lazyload(data-src="./img/icons/card.svg" alt="")
				.list-icon-item_content.text-center 
					p.text-base.text-primary-F8D294(class="mg:text-3xl") ĐẾN 55 NGÀY
					p.text-base.text-white(class="mg:text-3xl") MIỄN LÃI
			.list-icon-item.col-span-6(class='md:col-span-6 lg:col-span-6 xl:col-span-3')
				.list-icon-item_img.mb-6
					a(href="") 
						img.lazyload(data-src="./img/icons/world.svg" alt="")
				.list-icon-item_content.text-center 
					p.text-base.text-primary-F8D294(class="mg:text-3xl") THANH TOÁN 24/7
					p.text-base.text-white(class="mg:text-3xl") TOÀN CẦU
			.list-icon-item.col-span-6(class='md:col-span-6 lg:col-span-6 xl:col-span-3')
				.list-icon-item_img.mb-6 
					a(href="") 
						img.lazyload(data-src="./img/icons/hand.svg" alt="")
				.list-icon-item_content.text-center 
					p.text-base.text-primary-F8D294(class="mg:text-3xl") TRẢ GÓP 0%
					p.text-base.text-white(class="mg:text-3xl") LÃI SUẤT
			.list-icon-item.col-span-6(class='md:col-span-6 lg:col-span-6 xl:col-span-3')
				.list-icon-item_img.mb-6 
					a(href="") 
						img.lazyload(data-src="./img/icons/phone.svg" alt="")
				.list-icon-item_content.text-center 
					p.text-base.text-primary-F8D294(class="mg:text-3xl") HOTLINE
					p.text-base.text-white(class="mg:text-3xl") ĐẶC BIỆT

