section.section#sec-5.sec-5(data-title='Sec 5')
	.container
		.logo.show(class="md:hidden")
			a(href="") 
				img.lazyload(data-src="./img/logo.png" alt="")
		#frmClip
			iframe(width="560" height="315" src="https://www.youtube.com/embed/l_dtFZz-Nr8?si=NS2JS5oXYcHtPg1T&amp;controls=0" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
