section.section#sec-1.sec-1(data-title='Trang Chủ')
	.hero-banner 
		.hero-banner_img
			img.show.show-desktop(src="./img/banner/hero-banner.jpg" alt="" )
			img.show.show-mobile(src="./img/banner-header-mobile.jpg" alt="")
		.scroll-div-triggle.w-full
			.container
				.content
					.banner-title 
						p Thẻ HDBank Priority
						h1 TINH TÚ PHƯƠNG ĐÔNG
						p Đặc Quyền Hạng Nhất
					button#scroll-div(data-section='sec 7')
						|Đăng ký mở thẻ
