section.section#sec-2.sec-2(data-title='Sec 2')
	.container
		div(class="lg:px-0 xl:px-[50px]")
			h1.text-xl.leading-normal.text-center(class='md:text-[2.5rem] text-primary-colorText font-bold md:text-left') Viết tiếp những chương rực rỡ
				br
				| cùng thẻ HDBank Priority - Tinh tú Phương Đông
			.desc 
				p.text-white.text-justify.text-xl.font-medium(class="md:text-3xl") Với những đặc quyền hạng nhất và các giải pháp tài chính được thiết kế riêng, thẻ tín dụng cao cấp HDBank Priority-Tinh tú Phương Đông hứa hẹn sẽ mang đến cho Quý khách phong cách sống quý phái, xứng tầm vị thế tinh tú của Quý khách hàng. HDBank cam kết lợi ích cao nhất, chúng tôi mong muốn sẽ tiếp tục được song hành cùng Quý khách nối dài chuỗi hành trình trải nghiệm hạnh phúc bởi những điểm chạm thanh toán ưu việt.
