header
	.header-wrapper.w-full(class="lg:py-4 xl:py-3")
		.container
			.flex.items-center.w-full.h-full.justify-between
				.brand-priority(class='md:w-[150px] xl:w-[200px]') 
					a(href="") 
						img(src="./img/logo.png" alt="")
				nav.ml-auto
					ul.flex.items-start.flex-col(class='lg:flex-row lg:gap-[3.5rem] xl:gap-[4.25rem] lg:items-center')
						li 
							a.text-primary-FBD597.font-bold.text-base(href="" class="sm:text-[30px] lg:text-2xl xl:text-3xl" data-fancybox data-src='#dialogEmail') Biểu phí & lãi suất
						li 
							a.text-primary-FBD597.font-bold.text-base(href="" class="sm:text-[30px] lg:text-2xl xl:text-3xl" data-fancybox data-src='#dialogInfoCard') Thông tin thẻ
						li 
							a.text-primary-FBD597.font-bold.text-base(href="" class="sm:text-[30px] lg:text-2xl xl:text-3xl") Hotline 1900 6060 
				#toggle.btn.btn-toggle.show(class="lg:hidden") 
					span 
					span 
					span 
					span

