#dialog-success(style='display:none;')
	.div-content
		.div-content_img.show(class='lg:hidden')
			img.lazyload(data-src="./img/banner/banner-popup-mb.jpg" alt="")
		.div-content_icon 
			img.lazyload(data-src="./img/icons/check.svg" alt="")
			p Đăng ký thành công
		.div-content_desc 
			p Cảm ơn Quý khách đã lựa chọn sản phẩm Thẻ tín dụng HDBank Priority.
			p Đội ngũ chăm sóc khách hàng đặc biệt sẽ liên hệ với Quý khách trong thời gian sớm nhất

