#dialogExist(style='display:none;')
	.div-content
		.div-content_img.show(class='lg:hidden')
			img.lazyload(data-src="./img/banner/banner-popup-mb.jpg" alt="")
		.div-content_icon 
			//- img(src="./img/icons/check.svg" alt="")
			p Đăng ký không thành công
		.div-content_desc 
			p Số CMND/CCCD của quý khách đã được đăng ký 
			p Vui lòng thực hiện lại.
